* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(34, 111, 204), rgb(42, 194, 207));
    min-height: 100vh;
    padding: 40px;
    color: #333;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.container {
    width: auto;
    max-width: 1000px;
    margin: auto;
}
.form-section,
.events-section {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.form-section {
    margin-right: 30px;
}


#eventContainer {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    line-height: 45px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: grey;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    background: white;
}

#eventForm button:hover {
    background-color: rgb(15, 15, 81);
}

#clearAllBtn,#addSampleBtn {
    background-color: rgb(14, 14, 129);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin-right: 10p
}

.demo-section{
    background: white;
    width: 600px;
    height: 100px;
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
}
.demo-box{
    display: flex;
    justify-content: center;
    
}
.demo-content{
    align-items: center;
}
#addevent{
    background-color: rgb(14, 14, 129);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin-right: 10p

}